/* PAGE SETTINGS */

a {
    color: inherit;
    text-decoration: none;
}

html {

}

body {
    font-family: "Helvetica", sans-serif;
    background-image: url(/img/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#bodywrap {
    background-color: white;
}

#mainwrap {
    padding-top: 17px;
    width:1000px;
    margin: 0px auto;
    z-index: 2;
}

/* TOP OF THE PAGE */

#topbar {
    display: block;
    height: 110px;
}

#topleft {
    float: left;
    display: inline-block;
    width: 400px;
}

#topright {
    float: right;
    padding-right: 10px;
}

#search {
    width: 260px;
}

#search input {
    background-image: url(/img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 24px;
    font-size: 12px;
    padding-left: 8px;
    border: inset 0px 0px 1px 1px grey;
}

#usertools {
    float: right;
    font-size: 12px;
    display: block;
    text-align: center;
    width: 260px;
    color: white;
    margin-top: 16px;
    padding-left: 8px;
}

#usertools ul li {
    display: inline;
}

#usertools hr {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
}

/* NAV */

#nav {
    display: block;
    text-align: justify;
    height: 40px;
    padding: 0;
    background: -webkit-linear-gradient(white, lightgrey);
    background: -o-linear-gradient(white, lightgrey);
    background: -moz-linear-gradient(white, lightgrey);
    background: linear-gradient(white, lightgrey);
    border-bottom: 1px solid #9e9e9e;
}

#nav * {
    display: inline;
}

#nav span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

#nav li {
    display: inline-block;
    text-align: center;
    width: 160px;
}

#nav ul li a {
    font-family: "Helvetica",  sans-serif;
    font-weight: bold;
    font-kerning: normal;
    font-size: 13px;
    color: grey;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
}

#nav li:hover {
    background: #d6d6d6;
}

#nav li.active {
    background-color: white;
    height: 41px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 0px -1px 0px grey;
}

#nav li.active a{
    color: #252525;
}

/* ABOVE THE FOLD */

#above {
    height: 460px;
    width: 1000px;
    margin: 0px auto;
}

#carousel {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

#featimage:hover {
    -moz-filter: blur(0.9);
    -o-filter: blur(0.9);
    -webkit-filter: blur(0.9);
    filter: blur(0.9);
}

#feattext {
    position: absolute;
    top: 453px; ;
    width: 666px;
    height: 68px;
    background-color: #cecece;
    color: #252525;
    -moz-filter: opacity(0.9);
    -o-filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
}

#feattext h1 {
    padding-left: 12px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 24px;
}

#feattext h2 {
    padding-left: 12px;
    padding-top: 4px;
    font-size: 14px;
}

#ads {
    padding: 20px;
    float: right;
    width: 274px;
}

#ad1 {
    padding-bottom: 20px;
}

#divider {
    width: 960px;
    border: 0;
    border-top: 1px solid #CCCDCD;
}

/* BELOW THE FOLD */

#below {
    height: 860px;
    width: 1000px;
    margin: 0px auto;
}


/* FOOTER */

#footer {
    height: 66px;
    color: white;
    background-color: #1D1D1D;
    display: block;
}

#footer hr {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
}

#footer ul {
    padding-top: 14px;
    padding-left: 20px;
}

#footer ul li {
    font-size: 12px;
    display: inline;
}

#footer h6 {
    color: grey;
    font-size: 12px;
    padding-top: 6px;
    padding-left: 20px;
}

#footer h6 hr {
    border-color: grey;
}

#footer #bottomleft {
    float: left;
}

#footer #bottomright {
    float: right;
    padding-right: 16px;
    padding-top: 6px;
}

#footer .social li {
    padding-right: 4px;
}
