/*==============================================================
                        PAGE SETTINGS
==============================================================*/

a {
    color: inherit;
    text-decoration: none;
}
html,
body {
    height: 100%
}
html {
    background-image: url(../img/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
#bodywrap {
    background-color: white;
    width: 1000px;
}
#mainwrap {
    padding-top: 17px;
    width: 1000px;
    margin: 0px auto;
    z-index: 2;
    font-family: "Helvetica", "Arial", sans-serif;
}
.post:hover {
    color: #0084D9;
    /* hover for post */
}
#above {
    height: 460px;
    width: 1000px;
    /* above the fold */
}
hr.divider {
    width: 960px;
    height: 1px;
    border: 0;
    background-color: #CCCDCD;
    margin: 0 auto;
    padding: 0;
    /* horizontal rule for between top and bottom of page */
}
#below {
    height: 860px;
    width: 1000px;
    /* below the fold */
}
#body-left {
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    width: 682px;
    /* below the fold - left side of page */
}
#body-left h1 {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding-left: 33px;
    line-height: 12px;
}
#body-right {
    float: right;
    padding-top: 21px;
    padding-right: 19px;
    /* below the fold - right side of page */
}
.horizontal {
    width: 254px;
    height: 1px;
    background-color: #2A2A2A;
    border: 0px;
    /* horizontal rule for newsletter and contests */
}
h4 {
    color: #282B2E;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 31px;
}
/*==============================================================
                        TOP OF THE PAGE
==============================================================*/

#topbar {
    display: block;
    height: 110px;
}
#top-left {
    float: left;
    display: inline-block;
    width: 400px;
}
#top-right {
    padding-top: 14px;
    float: right;
}
#search {
    width: 259px;
}
#search input {
    background: url(../img/search.png) no-repeat 246px 5px;
    background-color: white;
    width: 259px;
    height: 22px;
    font-size: 12px;
    padding-left: 8px;
    border: 0;
    box-shadow: inset 0px 0px 12px lightgrey;
}
#user-tools {
    font-size: 12px;
    display: block;
    text-align: left;
    width: 260px;
    color: white;
    margin: 16px auto 0px;
    padding-left: 8px;
}
#user-tools ul li {
    display: inline;
}
#user-tools ul li:hover {
    color: #252525;
}
#user-tools hr {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
}
/*==============================================================
                        NAVIGATION
==============================================================*/

#nav {
    height: 40px;
    padding: 0;
    background: -moz-linear-gradient(white, lightgrey);
    background: -webkit-linear-gradient(white, lightgrey);
    background: linear-gradient(white, lightgrey);
    background: #ffffff;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #d3d3d3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d3d3d3));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #d3d3d3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #d3d3d3 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #d3d3d3 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #d3d3d3 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0);
    /* IE6-8 */
    border-bottom: 1px solid #BDBDBD;
}
#nav li {
    display: table-cell;
    width: 167px;
}
#nav ul li a {
    display: block;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6B6D6E;
    text-shadow: 1px 0px 1px #FFFFFF;
    text-decoration: none;
    line-height: 42px;
    text-align: center;
    margin: 0px auto;
}
/* this code exists only becuase firefox has issues displaying relatively positioned items table cells because of course it does*/

#nav li:hover {
    background: #bdbdbd;
}
#table-cell {
    display: table-cell
}
#active-position {
    position: relative;
    bottom: 4px;
}
#nav li.active {
    background-color: white;
    height: 45px;
    border-left: 1px solid #9c9fa3;
    border-right: 1px solid #9c9fa3;
    /* shows current page */
}
#nav li.active a {
    position: relative;
    top: 4px;
    color: #282b2e;
}
/*==============================================================
                    HERO IMAGE CAROUSEL
==============================================================*/

#hero {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    /* image carousel box */
}
#hero-images ul {
    position: relative;
}
#hero-images li {
    position: absolute;
    visibility: hidden;
}
#hero-images li.active {
    visibility: visible;
}
.hero-text {
    position: relative;
    bottom: 70px;
    width: 666px;
    height: 68px;
    background-color: #cecece;
    color: #252525;
    -o-filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
    /* Hero Image description */
}
.hero-text h1 {
    padding-left: 12px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 24px;
}
.hero-text h2 {
    padding-left: 12px;
    padding-top: 4px;
    font-size: 14px;
}
.hero-slide:hover .hero-text h1 {
    color: #0084D9;
}
#hero-thumbs li.active img {
    -moz-box-shadow: 0 0 0 3px #0084D9;
    -webkit-box-shadow: 0 0 0 3px #0084D9;
    box-shadow: 0 0 0 3px #0084D9;
    /* border of active thumbnail, doesnt mess with positioning */
}
#hero-thumbs li.active .arrow {
    visibility: visible;
    /* little blue arrow that shows above the active thumbnail */
}
#hero-thumbs {
    position: relative;
    top: 333px;
    height: 96px;
    display: block;
    width: 666px;
    text-align: justify;
}
#hero-thumbs li {
    position: relative;
    top: 10px;
    width: 157px;
    height: 79px;
    display: inline;
}
#hero-thumbs img {
    width: 157px;
    height: 79px;
}
#hero-thumbs .stretch {
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    /* keeps thumbnails inline */
}
.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../img/thumb-active.png);
    left: 74px;
    bottom: 83px;
    visibility: hidden;
}
/*==============================================================
                        ADVERTISEMENTS
==============================================================*/

#ads {
    float: right;
    width: 274px;
    padding: 20px;
}
#ad1 {
    margin: 0;
    padding-bottom: 20px;
}
#ad2 {
    margin: 0;
    padding: 0;
}
/*==============================================================
                        BROWSE CATEGORIES
==============================================================*/

#browse-top {
    background: url(../img/folder.png) no-repeat 10px 11px;
    background-color: #0084D9;
    width: 210px;
    height: 34px;
    line-height: 34px;
    position: relative;
    right: 14px;
}
#browse-top-bend {
    background-color: #006EB4;
    width: 17px;
    height: 15px;
    position: relative;
    right: 11px;
    bottom: 9px;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: -1;
    /* shadow beneath banner */
}
#browse {
    width: 196px;
    height: 409px;
    display: block;
    font-size: 14px;
}
#browse ul,
#browse h2 {
    padding-left: 20px;
}
#browse h2 {
    font-weight: bold;
    padding-bottom: 9px;
}
#browse ul {
    line-height: 18px;
    padding-bottom: 20px;
}
#browse li a:hover {
    color: #0084D9;
}
/*==============================================================
                        ARTICLES
==============================================================*/

#article {
    width: 470px;
    height: 409px;
    float: right;
    position: relative;
    bottom: 409px;
}
#article-top {
    width: 470px;
    height: 34px;
    line-height: 34px;
    background: url(../img/article.png) no-repeat 10px 9px;
    background-color: #0084D9;
}
#article .post {
    font-size: 14px;
    width: 460px;
    height: 105px;
    padding-top: 20px;
}
#article .post img {
    float: left;
}
#article .post h2 {
    font-weight: bold;
    padding-bottom: 9px;
}
#article .post h2,
.post p {
    float: right;
    width: 300px;
}
#article .post p {
    line-height: 16px;
}
/*==============================================================
                        VIDEOS
==============================================================*/

#video-top {
    background: url(../img/video.png) no-repeat 10px 10px;
    background-color: #0084D9;
    width: 699px;
    height: 34px;
    line-height: 34px;
    position: relative;
    right: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#video-top-bend {
    background-color: #006EB4;
    width: 17px;
    height: 15px;
    position: relative;
    right: 11px;
    bottom: 19px;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: -1;
    /* shadow beneath banner */
}
#video-wrap {
    padding-left: 20px;
    white-space: nowrap;
}
#video .post {
    display: inline-block;
    width: 208px;
    height: 156px;
    margin-top: -4px;
    margin-right: 16px;
    padding-bottom: 20px;
}
#video .post:hover .video-text {
    color: #0084D9;
}
#video .video-text {
    position: relative;
    bottom: 33px;
    height: 31px;
    background-color: #cecece;
    font-size: 13px;
    font-weight: bold;
    line-height: 31px;
    padding-left: 14px;
    color: #252525;
    -moz-filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
}
#video .play-button {
    background: url(../img/play.png);
    width: 49px;
    height: 49px;
    position: relative;
    margin: 0px auto;
    bottom: 144px;
}
/*==============================================================
                        NEWSLETTER
==============================================================*/

#newsletter {
    background: url(../img/mail.png) no-repeat 10px 10px;
    background-color: #DBDBDB;
    width: 274px;
    height: 203px;
    border-bottom: solid 1px #9c9fa3;
}
#newsletter-form {
    width: 254px;
    margin: 0 auto;
}
#newsletter-form p {
    font-size: 12px;
    font-style: oblique;
}
#subscriber-email {
    border: 0;
    padding-left: 10px;
    width: 244px;
    height: 26px;
    font-size: 12px;
    box-shadow: inset 0px 0px 6px lightgrey;
}
#newsletter-options {
    width: 254px;
    height: 78px;
    margin: 10px auto;
    background-color: #CAC9C9;
    /* checkboxes */
}
#newsletter-options p {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 12px;
}
#newsletter-options label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 8px;
}
#newsletter-options label input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}
#newsletter #submit {
    background-color: #0084D9;
    border: 0;
    float: right;
    width: 71px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
#newsletter-bottom {
    background-color: #CAC9C9;
    width: 274px;
    height: 24px;
    margin-bottom: 20px;
}
#newsletter-bottom h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}
#newsletter-bottom h3 a:hover {
    color: #0084D9;
}
#newsletter-bottom hr {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border-left: solid 1px #282B2E;
}
/*==============================================================
                        CONTESTS
==============================================================*/

#contests {
    background: url(../img/trophy.png) no-repeat 10px 10px;
    background-color: #DBDBDB;
    width: 274px;
    height: 171px;
    margin-bottom: 20px;
}
#contests .post {
    width: 264px;
    height: 65px;
}
#contests .post h2 {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    width: 160px;
    height: 48px;
    padding-right: 10px;
}
#contests img {
    float: left;
    padding-left: 10px;
}
/*==============================================================
                        THAT ONE TWITTER WIDGET
==============================================================*/

#twitter {
    width: 274px;
    display: block;
}
/*==============================================================
                        PAGE FOOTER
==============================================================*/

#footer {
    height: 66px;
    color: white;
    background-color: #282b2e;
    display: block;
}
.vertical-white {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    /* divider between list items */
}
#footer ul {
    padding-top: 14px;
    padding-left: 20px;
}
#footer ul li {
    font-size: 12px;
    display: inline;
}
#footer li:hover {
    color: #0084D9;
}
#footer h2 {
    color: grey;
    font-size: 12px;
    padding-top: 8px;
    padding-left: 20px;
}
.vertical-grey {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border-color: grey;
    /* divider between list items */
}
#footer #bottom-left {
    float: left;
}
#footer #bottom-right {
    float: right;
    padding-right: 16px;
    padding-top: 6px;
}
#footer .social li {
    padding-right: 4px;
}
