/*==============================================================
                        PAGE SETTINGS
==============================================================*/
a {
    text-decoration: none;
    color: black;
}
html {
    background-image: url(../images/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    zoom: 1;
}
#bodywrap {
    background-color: white;
    width: 1000px;
    text-align: center;
}
#mainwrap {
    padding-top: 17px;
    width: 1000px;
    margin: 0px auto;
    font-family: "Helvetica", "Arial", sans-serif;
}
.post:hover {
    color: #0084D9;
}
#above {
    height: 460px;
    width: 1000px;
    margin: 0 auto;
    /* above the fold */
}
.divider {
    width: 960px;
    height: 1px;
    border: 0;
    background-color: #CCCDCD;
    margin: 0 auto;
    padding: 0;
    /* horizontal rule for between top and bottom of page */
}
#below {
    height: 860px;
    width: 1000px;
    display: inline-block;
    /* below the fold */
}
#body-left {
    float: left;
    padding-top: 20px;
    width: 687px;
    height: 820px;
    text-align: left;
    /* below the fold - left side of page */
}
#body-left h2 {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline;
    font-weight: bold;
    padding-left: 33px;
}
#body-right {
    display: inline;
    float: right;
    padding-top: 21px;
    padding-right: 20px;
    /* below the fold - right side of page */
}
.horizontal {
    width: 254px;
    height: 1px;
    background-color: #2A2A2A;
    border: 0px;
    /* horizontal rule for newsletter and contests */
}
h4 {
    color: #282B2E;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 31px;
}
/*==============================================================
                        TOP OF THE PAGE
==============================================================*/

#topbar {
    display: block;
    height: 110px;
    width: 1000px;
}
#top-left {
    float: left;
    display: inline-block;
    width: 500px;
}
#top-right {
    padding-top: 14px;
    float: right;
    width: 500px;]
    height: 100%;
}
#search {
    display: block;
    position: relative;
    right: 8px;
    float: right;
    width: 259px;
}
#search input {
    background: url(../images/search.png) no-repeat 246px 5px;
    background-color: white;
    width: 100%;
    height: 22px;
    font-size: 12px;
    padding-left: 8px;
    border: 0;
    box-shadow: inset 0px 0px 12px lightgrey;
}
#user-tools {
    float: right;
    font-size: 12px;
    display: block;
    text-align: left;
    width: 260px;
    color: white;
    margin: 16px auto 0px;
    padding-left: 8px;
    display: block;
}
#user-tools a {
    color: white;
    display: inline;
}
#user-tools ul li {
    display: inline;
}
#user-tools ul li a:hover {
    color: #252525;
}
#user-tools hr {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border: 0;
    border-left: 1px solid white;
}
/*==============================================================
                        NAVIGATION
==============================================================*/

#nav {
    height: 40px;
    padding: 0;
    background: url(../images/navbar.png);
    border-bottom: 1px solid #BDBDBD;
    width: 1000px;
}
#nav li {
    display: table-cell;
    width: 167px;
    zoom: 1;
    *display: inline;
}
#nav ul li a {
    display: block;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6B6D6E;
    text-shadow: 1px 0px 1px #FFFFFF;
    text-decoration: none;
    line-height: 42px;
    text-align: center;
    margin: 0px auto;
}
#nav li:hover {
    background: #bdbdbd;
}
#table-cell {
    display: table-cell
}
/* this code exists only becuase firefox has issues displaying relatively positioned items table cells because of course it does*/
#active-position {
    position: relative;
    bottom: 4px;
    text-align: center;
}
#nav .active {
    background-color: white;
    height: 45px;
    border-left: 1px solid #9c9fa3;
    border-right: 1px solid #9c9fa3;
    text-align: center;
    /* shows current page */
}
#nav .active a {
    position: relative;
    top: 4px;
    color: #282b2e;
}
/*==============================================================
                    HERO IMAGE CAROUSEL
==============================================================*/

#hero {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    /* image carousel box */
}
#hero-images ul {
    position: relative;
}
#hero-images li {
    position: absolute;
    visibility: hidden;
}
#hero-images li.active {
    visibility: visible;
}
.hero-text {
    position: relative;
    bottom: 70px;
    width: 666px;
    height: 68px;
    background-color: #cecece;
    color: #252525;
    -o-filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
    /* Hero Image description */
}
.hero-text h1 {
    padding-left: 12px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 24px;
}
.hero-text h2 {
    padding-left: 12px;
    padding-top: 4px;
    font-size: 14px;
}
.hero-slide:hover .hero-text h1 {
    color: #0084D9;
}
#hero-thumbs li.active img {
    padding-top: 0px;
    border: 3px solid #0084D9;
    /* border of active thumbnail, doesnt mess with positioning */
}
#hero-thumbs li.active .arrow {
    visibility: visible;
    /* little blue arrow that shows above the active thumbnail */
}
#hero-thumbs {
    position: relative;
    top: 333px;
    width: 666px;
    height: 96px;
    display: block;
}
#hero-thumbs li {
    position: relative;
    top: 10px;
    display: inline;
}
#hero-thumbs img {
    padding-top: 1px;
    border: 3px solid white;
    width: 157px;
    height: 79px;
}
.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../images/thumb-active.png);
    left: 74px;
    bottom: 87px;
    visibility: hidden;
}
/*==============================================================
                        ADVERTISEMENTS
==============================================================*/

#ads {
    float: right;
    width: 274px;
    padding: 20px;
}
#ad1 {
    margin: 0;
    padding-bottom: 20px;
}
#ad2 {
    margin: 0;
    padding: 0;
}
/*==============================================================
                        BROWSE CATEGORIES
==============================================================*/

#browse {
    float: left;
    text-align: left;
    width: 165px;
    height: 409px;
    display: block;
    font-size: 14px;
    display: inline;
    padding-left: 20px;
}
#browse-top {
    background: url(../images/folder.png) no-repeat 10px 11px;
    background-color: #0084D9;
    width: 210px;
    height: 34px;
    line-height: 34px;
    position: relative;
    right: 34px;
    text-align: left;
}
#browse-top-bend {
    background: url(../images/bend.png);
    width: 17px;
    height: 15px;
    position: relative;
    right: 34px;
    bottom: 9px;
    z-index: -1;
    /* shadow beneath banner */
}
#browse h3 {
    font-weight: bold;
    padding-bottom: 9px;
}
#browse ul {
    line-height: 18px;
    padding-bottom: 20px;
}
#browse li a:hover {
    color: #0084D9;
}
/*==============================================================
                        ARTICLES
==============================================================*/

#article {
    width: 470px;
    height: 409px;
    display: inline;
    text-align: left;
    float: right;
}
#article-top {
    width: 470px;
    height: 34px;
    line-height: 34px;
    background: url(../images/article.png) no-repeat 10px 9px;
    background-color: #0084D9;
    text-align: left;
}
#article .post {
    font-size: 14px;
    width: 460px;
    height: 105px;
    padding-top: 20px;
}
#article .post img {
    float: left;
}
#article .post h3 {
    font-weight: bold;
    padding-bottom: 9px;
}
#article .post h3,
.post p {
    float: right;
    width: 300px;
}
#article .post p {
    line-height: 16px;
}
/*==============================================================
                        VIDEOS
==============================================================*/

#video-top {
    background: url(../images/video.png) no-repeat 10px 10px;
    background-color: #0084D9;
    width: 700px;
    height: 34px;
    line-height: 34px;
    position: relative;
    right: 14px;
    margin-top: 20px;
    text-align: left;
}
#video-top-bend {
    background: url(../images/bend.png);
    width: 17px;
    height: 15px;
    position: relative;
    right: 15px;
    bottom: 9px;
    z-index: -1;
    /* shadow beneath banner */
}

#video {
    width: 100%;
    float: left;
    display: block;
}
#video ul {
    margin-top: -5px;
}

#video li {
    width: 208px;
    height: 156px;
    float: left;
    position: relative;
    top: 10px;
    display: inline;
    padding-left: 20px;
    padding-bottom: 20px;
}

#video img {
    width: 100%;
    height: auto;
}
#video .post:hover .video-text {
    color: #0084D9;
}
#video .video-text {
    position: relative;
    display: inline;
    float: left;
    height: 31px;
    width: 194px;
    left: 0px;
    bottom: 34px;
    background-color: #cecece;
    font-size: 13px;
    font-weight: bold;
    line-height: 31px;
    padding-left: 14px;
    z-index: 3;
    color: #252525;
    -ms-filter: opacity(0.9);
    -moz-filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    filter: opacity(0.9);
}
#video .play-button {
    background: url(../images/play.png);
    width: 49px;
    height: 49px;
    position: relative;
    bottom: 144px;
}

/*==============================================================
                        NEWSLETTER
==============================================================*/

#newsletter {
    background: url(../images/mail.png) no-repeat 10px 10px;
    background-color: #DBDBDB;
    width: 274px;
    height: 203px;
    border-bottom: solid 1px #9c9fa3;
    text-align: left;
}
#newsletter-form {
    width: 254px;
    margin: 0 auto;
}
#newsletter-form p {
    font-size: 12px;
    font-style: oblique;
}
#subscriber-email {
    border: 0;
    padding-left: 10px;
    width: 244px;
    height: 26px;
    font-size: 12px;
    box-shadow: inset 0px 0px 6px lightgrey;
}
#newsletter-options {
    width: 254px;
    height: 78px;
    margin: 10px auto;
    background-color: #CAC9C9;
    display: block;
    /* checkboxes */
}
#newsletter-options p {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 12px;
}
#newsletter-options ul li{
    display: block;
}
#newsletter-options label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 8px;
    display: inline;
}
#newsletter-options label input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    display: inline;
}
#newsletter #submit {
    background-color: #0084D9;
    border: 0;
    float: right;
    width: 71px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}
#newsletter-bottom {
    display: block;
    background-color: #CAC9C9;
    width: 274px;
    height: 24px;
    margin-bottom: 20px;
}
#newsletter-bottom h3 {
    display: inline;
    position: relative;
    top: 3px;
    text-align: center;
    font-size: 12px;
}
#newsletter-bottom h3 a:hover {
    color: #0084D9;
}
#newsletter-bottom hr {
    display: inline;
    position: relative;
    top: 4px;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border: 0px;
    border-left: solid 1px #282B2E;
    background-color: #CAC9C9;
}
/*==============================================================
                        CONTESTS
==============================================================*/

#contests {
    background: url(../images/trophy.png) no-repeat 10px 10px;
    background-color: #DBDBDB;
    width: 274px;
    height: 171px;
    margin-bottom: 20px;
    text-align: left;
}
#contests .post {
    width: 264px;
    height: 65px;
}
#contests .post h2 {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    width: 160px;
    height: 48px;
    padding-right: 10px;
}
#contests img {
    float: left;
    padding-left: 10px;
}
/*==============================================================
                        THAT ONE TWITTER WIDGET
==============================================================*/

#twitter {
    width: 274px;
    display: block;
}
/*==============================================================
                        PAGE FOOTER
==============================================================*/

#footer {
    height: 66px;
    color: white;
    background-color: #282b2e;
    display: block;
}
#footer hr.vertical-white {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border: 0;
    border-left: 1px solid white;
    /* divider between list items */
}
#footer ul {
    padding-top: 14px;
    padding-bottom: 6px;
    display: block;
}
#footer ul li {
    font-size: 12px;
    display: inline;
}
#footer li a {
    color: white;
    display: inline;
}
#footer li a:hover {
    color: #0084D9;
}
#footer h2 {
    display: inline;
    color: grey;
    font-size: 12px;
}
#footer hr.vertical-grey {
    display: inline;
    padding: 0px;
    margin: 0 9px;
    width: 1px;
    height: 14px;
    border: 0;
    border-left: 1px solid grey;
    /* divider between list items */
}
#footer #bottom-left {
    display: inline;
    float: left;
    padding-left: 20px;
}
#footer #bottom-right {
    display: inline;
    float: right;
    padding-right: 20px;
}
#footer .social li {
    padding-left: 4px;
    display: inline;
}
